
<div class="question">
  <p><%= @answer %></p>
  <p><em>- You</em></p>
</div>


<div class="answer">
  <p><strong><%= @coach_response %></p></strong>
  <p><em>- Coach</em></p>
</div>

<%= link_to "Ask a new question", ask_path %>
