
<div class="question">
  <p><%= @answer %></p>
  <p><em>- You</em></p>
</div>


<% coach_response = "I don't care, get dressed and go to work!" %>
<% if @answer == "I am going to work" %>
  <% coach_response = "Great!" %>
<% elsif @answer[-1] == "?" %>
  <% coach_response = "Silly question, get dressed and go to work!" %>
<% end %>


<div class="answer">
  <p><strong><%= coach_response %></p></strong>
  <p><em>- Coach</em></p>
</div>

<%= link_to "Ask a new question", ask_path %>
